/* reset & common codes starts here */
:root{
    --primary-color: rgb(6, 161, 172);
    --secondary-color: rgba(66, 117, 121, 0.9);
    --padding: 0.5rem;
    --border-radius: 0.6rem;
    --box-shadow: 0.1rem 0.2rem 0.8rem rgba(205, 202, 202, 0.5);
    --transition: all .3s;
  }



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style-type: none;
  text-decoration: none;
}



html{
  scroll-behavior: smooth;
}



img{
    width: 100%;
    height: auto;
}



.flex-center{
      display: flex;
      justify-content: center;
      align-items: center;
}



.flex-space-around{
             display: flex;
             justify-content: space-around;
             align-items: center;
}


.btn{
     padding: var(--padding);
     border: none;
     text-transform: uppercase;
     font-weight: 600;
     transition: var(--transition);
}


.btn:hover{
         background-color: var(--secondary-color);
          color:white;
}



.card{
      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius);
      transition: var(--transition);
      padding: var(--padding);
}



.card:hover{
        box-shadow: 0.1rem 0.2rem 0.8rem rgba(201, 202, 205, 1);  
}



.hr-design{
         margin: 0.2rem 0;
}



.dot{
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
       display: inline-block; 
       /* ekhane span holo inline element tai height,width kaj korbe na jodi na amra  display: inline-block kore dei*/
}


.red{
       background-color: red;
}



.green{
       background-color: green;
}



.black{
       background-color: black;
}

/* reset & common codes ends here */









/* navbar starts here */
#menu-icon{
       display: none;
}



nav{
   font-size: 0.9rem;
   font-family: 'Righteous', cursive;

   position: sticky;
   top: 0;
   left: 0;
   z-index: 100;
}


.nav-upper{
            min-height: 10vh;
            background-color: var(--primary-color);    
            padding: 0.5rem 0;
}



.nav__list{
          text-transform: capitalize;
}


.nav__link{
           color: white;
           transition: var(--transition);
}


.nav__link:hover{
           color: rgb(16, 16, 15);
}



.profile__icon{
               width: 2.5rem;
               height: 2.5rem;
               border: 2px solid white;
               border-radius: 50%;
               filter: saturate(0); 
               transition: var(--transition);
}


.profile__icon:hover{
                filter: saturate(2);
}



.nav-lower{
            background-color: var(--secondary-color);
            padding: 0.7rem;
            font-size: 0.9rem;
            font-weight: bolder;
}



.nav__brand{
       font-size: 1.3rem;
}

/* navbar ends here */









/* footer starts here */
.footer{
    padding: 1rem;
    background-color: var(--primary-color);
    min-height: 10vh;
    color: white;
    text-transform: capitalize;
}


.footer__input{
         text-align: center;
         border: none;
         width: 250px;
         padding: 3px;
         margin-left: 3px;
}


.subscribe__btn{
                   font-size: 10px;
                   padding: 5px;
                   color: white;
                   background-color: var(--secondary-color);
}


.footer__desc{
                  font-size: 1.2rem;
}

/* footer ends here */










@media (max-width: 992px){
           .flex-space-around{
                          flex-direction: column;
                          gap: 1.5rem;
                          padding: 1rem 0;
                         }



            .profile__icon{
                          width: 3.5rem;
                          height: 3.5rem;
                          }



              #menu-icon{
                               display: block;
                               text-align: center;
                               margin: 1rem 0;
                               cursor: pointer;
                             }


               .hidden{
                       display: none;
                      } 
}




@media (max-width: 768px){
           
  
}





@media (max-width: 600px){

}